<td style="<%= css_for_mailer_content %>">

  <p style="<%= css_for_mailer_text %>">
    <%= t("mailers.budget_investment_not_selected.hi") %>
  </p>

  <p style="<%= css_for_mailer_text %>">
    <%= t("mailers.budget_investment_not_selected.explanation") %>
  </p>

  <p style="<%= css_for_mailer_text + css_for_mailer_quote %>">
    <%= @investment.not_selected_explanation.presence || '-' %>
  </p>

  <p style="<%= css_for_mailer_text %>">
    <%= t("mailers.budget_investment_not_selected.sorry") %>
  </p>

  <p style="<%= css_for_mailer_text %>">
    <%= t("mailers.budget_investment_not_selected.sincerely") %>
  </p>
</td>
