<td style="<%= css_for_mailer_content %>">

  <p style="<%= css_for_mailer_text %>">
    <%= t("mailers.budget_investment_next_year_budget.hi") %>
  </p>

  <p style="<%= css_for_mailer_text %>">
    <%= t("mailers.budget_investment_next_year_budget.explanation") %>
  </p>

  <p style="<%= css_for_mailer_text %>">
    <%= t("mailers.budget_investment_next_year_budget.sorry") %>
  </p>

  <p style="<%= css_for_mailer_text %>">
    <%= t("mailers.budget_investment_next_year_budget.sincerely") %>
  </p>
</td>
