<div id="participate" class="small-12 medium-12 column padding">
  <div class="row padding">
    <h3 class="column">Participa en LPGC Decide</h3>
  </div>
  <div class="row">
    <div class="small-12 medium-3 column">
      <% if feature?(:debates) %>
        <%= link_to debates_path do %>
          <div>
            <%= image_tag("debate.jpg") %>
            <span>Debatimos</span>
          </div>
          <p>Opina sobre las cuestiones de la ciudad</p>
        <% end %>
      <% else %>
        <%= link_to "#" do %>
          <div>
            <%= image_tag("debate.jpg") %>
            <span>Debatimos</span>
          </div>
          <p>Opina sobre las cuestiones de la ciudad</p>
        <% end %>
      <% end %>
    </div>
    <div class="small-12 medium-3 column">
      <% if feature?(:proposals) %>
        <%= link_to proposals_path do %>
          <div>
            <%= image_tag("propon.jpg") %>
            <span>Proponemos</span>
          </div>
          <p>Crea propuestas ciudadanas y consigue apoyos</p>
        <% end %>
      <% else %>
        <%= link_to "#" do %>
          <div>
            <%= image_tag("propon.jpg") %>
            <span>Proponemos</span>
          </div>
          <p>Crea propuestas ciudadanas y consigue apoyos</p>
        <% end %>
      <% end %>
    </div>
    <div class="small-12 medium-3 column">
      <% if feature?(:budgets) %>
        <%= link_to budgets_path do %>
          <div>
            <%= image_tag("decides.jpg") %>
            <span>Decidimos</span>
          </div>
          <p>Decide a qué proyectos se destina el presupuesto participativo</p>
        <% end %>
      <% else %>
        <%= link_to "#" do %>
          <div>
            <%= image_tag("decides.jpg") %>
            <span>Decidimos</span>
          </div>
          <p>Decide a qué proyectos se destina el presupuesto participativo</p>
        <% end %>
      <% end %>
    </div>
    <div class="small-12 medium-3 column">
      <% if feature?(:polls) %>
        <%= link_to polls_path do %>
          <div>
            <%= image_tag("consulta.jpg") %>
            <span>Nos consultan</span>
          </div>
          <p>El Ayuntamiento nos consulta de manera directa</p>
        <% end %>
      <% else %>
        <%= link_to "#" do %>
          <div>
            <%= image_tag("consulta.jpg") %>
            <span>Nos consultan</span>
          </div>
          <p>El Ayuntamiento nos consulta de manera directa</p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
