<div class="participate">
  <div class="header-card jumbo highlight">
    <div class="row">
      <div class="small-12 medium-6 column">
        <%= image_tag("banner_procesos.png") %>
      </div>
      <div class="small-12 medium-6 column ">
        <span></span>
        <h2 class="title">Tú formas parte de cada paso</h2>
        <p class="description">Debatimos ideas, proponemos mejoras, decidimos en el conjunto y el Ayuntamiento las convierte en realidad</p>
        <div class="row icons">
          <div class="small-12 medium-3 column">
            <%= image_tag("icon-debate.png") %>
          </div>
          <div class="small-12 medium-3 column">
            <%= image_tag("icon-proponemos.png") %>
          </div>
          <div class="small-12 medium-3 column">
            <%= image_tag("icon-decidimos.png") %>
          </div>
          <div class="small-12 medium-3 column">
            <%= image_tag("icon-hacemos.png") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
